* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Nav bar */
.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  background-color: #6772e5;
  color: white;
  font-family: "Inter", sans-serif;
}
.navBar img {
  margin-right: 10px;
}
.navBar p {
  font-weight: 400;
  font-size: 13px;
}

/* Header */

.Header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  width: 100vw;
}
.Header img {
  margin-right: 200px;
}
.Header .btn1 {
  width: 70px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 10px;
}
.Header .btn2 {
  width: 70px;
  height: 30px;
  font-size: 10px;
  color: white;
  background-color: #6772e5;
  border: none;
  border-radius: 5px;
}

/* Hero section */
.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.commentBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  background-color: #1a202c;
  border-radius: 6px;
  color: white;
}
/* .arrowDown {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: green;
  margin-top: 40px;
  border: solid yellow 1px;
  border-bottom: 100px;
} */

.HeroTexts {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HeroTexts h1 {
  font-size: 50px;
  color: #1a202c;
}
.HeroTexts .blueText {
  color: #6772e5;
}
.HeroTexts p {
  padding-top: 10px;
  width: 550px;
  text-align: center;
  color: #8c96a9;
  font-size: 20px;
  line-height: 38px;
}
.HeroTexts button {
  width: 200px;
  height: 50px;
  margin-top: 40px;
  margin-left: 10px;
  font-size: 15px;
  border: none;
  background-color: transparent;
  color: #8c96a9;
  cursor: pointer;
}
.HeroTexts .blueBtn {
  color: white;
  background-color: #6772e5;
  border-radius: 6px;
}
/* Section2 */
.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

/* Section 3 */
.Section3 {
  width: 100vw;
  padding: 0px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}
.Section3Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Section3Header h3 {
  color: #6772e5;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
.Section3Header h1 {
  color: #1a202c;
  font-size: 48px;
}
.Section3Header h1 span {
  color: #6772e5;
}
.Section3Header p {
  padding-top: 10px;
  width: 550px;
  text-align: center;
  color: #8c96a9;
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
}
.Section3Row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100vw;
}
.Section3Column {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.Section3Row2 {
  display: flex;
  margin-top: 30px;
}
.Section3Row2 img {
  height: 44px;
}
.Section3Column2 {
  margin-left: 10px;
}
.Section3Column2 h2 {
  font-size: 14px;
  font-weight: 16px;
}
.Section3Column2 p {
  margin-top: 10px;
  font-size: 14px;
  color: #8c96a9;
  line-height: 19px;
}

.section3list2 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 400px;
  background-color: #1a202c;
  color: white;
  justify-content: space-around;
  border-right: 6px solid #6772e5;
  border-radius: 5px;
}
/* Section 4 */
.Section4 {
  margin-bottom: 200px;
}

/* Section5 */
.Section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Section5Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 650px;
  margin-top: 100px;
  margin-bottom: 200px;
  border: 3px solid #dbdfe7;
  border-radius: 6px;
  padding-top: 40px;
}
.Section5Column2 p {
  width: 400px;
  margin-top: 10px;
  font-size: 14px;
  color: #8c96a9;
  line-height: 19px;
}
.Section5Row2 {
  display: flex;
  margin-bottom: 40px;
}
.Section5Row2 img {
  height: 44px;
}
.Section5Column2 {
  margin-left: 10px;
}
.Section5Column2 h2 {
  font-size: 14px;
  font-weight: 16px;
}

/* Section 6 */
.Section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paydayBox {
  margin-top: 50px;
  display: flex;
  width: 350px;
  height: 40px;
  background-color: #f4f5f7;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 100px;
  border-radius: 8px;
}
.paydayBox button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 6px;
  color: black;
  font-size: 12px;
  font-weight: 700;
}
.annualBtn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.annualBtn div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 30px;
  height: 20px;
  background-color: #6772e5;
  color: white;
  border-radius: 3px;
  font-weight: 300;
  font-size: 10px;
}
.annualBox {
  background-color: transparent;

  /* #6772E5 */
}

.Pricing {
  width: 900px;
  display: flex;
  align-items: center;

  justify-content: space-between;
  margin-bottom: 100px;
}
.Price1 {
  width: 400px;
  height: 750px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
/* scale is a button */
.Scale {
  width: 70px;
  height: 25px;
  background-color: #f0f5ff;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  color: #6772e5;
  margin-bottom: 10px;
}
.Price1 h1 {
  font-size: 40px;
}
.Price1 h1 span {
  font-size: 15px;
  color: #8c96a9;
  margin-bottom: 5px;
}
.Price1 p {
  color: #8c96a9;
  margin-bottom: 30px;
}
.scaleRow {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.scaleRow img {
  width: 35px;
}
.scaleRow h5 {
  font-size: 15px;
  font-weight: 400;
  margin-left: 10px;
}

.BtnDiv {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BtnDiv .Btn1 {
  margin-top: 95px;
}

.BtnDiv button {
  height: 40px;
  width: 350px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  background-color: #6772e5;
}

/* Section7 */
.Section7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Section7Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 200px;
  border: 3px solid #dbdfe7;
  border-radius: 6px;
  padding-top: 40px;
}

/* Footer */
.footer {
  margin-top: 100px;
  width: 100vw;
  height: 400px;
  background-color: #1a202c;
}
